<div ng-if="is_registration_failed"
     class="alert alert-danger">{{message}}</div>
<div class=" container-fluid">
    <h3 class="page-header" style=" margin-top:0px"  > لیست مسابقلات</h3>

    <div ng-repeat="record in data track by $index" class="col-md-12" id="game-intoducer">
        <div class="panel panel-default">
            <div class="panel-body">
                <row>
                    <div class="col-md-3 col-xs-6">
                        <img ng-src="data:image/png;base64,{{game_profiles[$index].image}}" class="img-rounded"
                             style=" max-width:  100% ; max-height: auto"  >
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <h4 class=" page-header" style=" margin-top:0px; margin-right:-10px;"><span id="compt-name">{{record.name}}</span></h4>
                        <span id="other-info">
                            برگزار کننده: {{record.conductor}}<br/>
                            تیمی: {{record.maxTeamSize}}<br/>
                        مهلت:{{record.availableUntil}}<br/>
                        مکان: {{record.place}}<br/>
                        هزینه: {{record.price}}
                        </span>
                    </div>
                    <div>{{$scope.game_profiles[games_index].html}}</div>
                </row>
                <!--<div class="col-md-9 col-md-offset-9 col-xs-12 col-xs-offset-0">{{$scope.game_profiles[$game_index].image}}</div>-->
            </div>
            <div class="panel-footer text-left">
                <button ng-if="record.permitted == true" class="btn btn-primary" ng-click="enterGame(record)">ورود به محیط مسابقه</button>
                <button ng-if="record.permitted == false" class="btn btn-primary" ng-click="init_modal(record)" data-toggle="modal" data-target="#registerComptModal">ثبت نام در مسابقه</button>
            </div>
        </div> <!-- panel -->
    </div>
</div>



<div ng-controller="game_modal as game" class="modal fade"  id="registerComptModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-6 col-xs-12">
                <h4>قوانین</h4>
                <p>
                    <ul>
                    <li>قانون ها را حسش نبود بینوسم مال همون تیمه</li>
                    <li>در صورتی که تیم خود را برای مسابقه ای ثبت میکنید که نیاز به اطلاعات تحصیلی شما دارد، تمامی افراد ملزم هستند اطلاعات تحصیلی خود را در بخش اکانت کاربری خود تکمیل کنند</li>
                    <li>در صورتی که تعداد افراد تیم با محدودیت مسابقه مورد نظر همخوانی نداشته باشد تیم شما اجازه شرکت در آن مسابقعه را نخواهد داشت</li>
                    <li>در صورتی که نام تیم شما بر خلاف قوانین مسابقه و نامانساب باشد تیم شما حذف خواهد شد و تمام اطلاعات آن دست خواهد رفت </li>
                    <li>حداکثر 5 تیمی که در یک روز میتواند ثبت کنید</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-xs-12">
                <br/>
                <div class="form-group">
                    <label> انتخاب تیم</label>
                    <select class="form-control" ng-model="selectedTeam" ng-change="changedValue(selectedTeam)"
                            data-ng-options="team as team.name for team in teams">
                        <option value="">تیم خود را انتخاب کنید</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 10px"  >
                    <h5><span>هزینه ی ثبت نام</span><span class="pull-left">{{selected_game.price}} هزار تومان</span></h5>
                    <button class="btn btn-default form-control" style="border-color: #008e77;color: #008e77" >پرداخت هزینه</button>
                </div>
                <br/>
                <br/>
                <!--<a href="games/indians/index.html">-->
                    <button ng-click="register_game()" class="btn btn-primary form-control"  >ثبت نام در مسابقه</button>
                <!--</a>-->
            </div>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->