<div ng-repeat="record in data" class="panel panel-default main-announcment">
    <div ng-include="record.body_url" class="panel-body fluid-container">
    </div>

    <div class="panel-footer ma-footer">
      <span>{{record.date}}  توسط {{record.author}}</span>
<!--
        <span class="pull-left">
          <a href="#"><span class="glyphicon glyphicon-thumbs-up" style="padding-top: -15px"></span> {{record.likes}}</a>
          <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span> {{record.dislikes}}</a>
      </span>
-->
    </div>
</div>