          <h3 class="page-header" style=" margin-top:0px" > صفحه کاربری</h3>
          <div ng-if="editResponse.message!=null"
               ng-class="editResponse.type=='error'?'alert alert-danger':'alert alert-success'">{{editResponse.message}}</div>
          <a class="collapse-header" data-toggle="collapse" href="#collapsePersonal" aria-expanded="true" aria-controls="collapsePersonal">
            <h4 class="page-header" style=" margin-top:0px">
                اطلاعات شخصی 
                <span class="glyphicon glyphicon-menu-down pull-left" ></span>
            </h4>
          </a>
          <div class="collapse in fluid-container" id="collapsePersonal">
              <div class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3 text-center">
                  <div class="profile-pic-place">
                  <img ng-src="data:image/png;base64,{{profile_pic}}" id="profile-picture" class="profile-picture img-circle">
                  </div>
                  <button class="btn btn-default">تغییر عکس کاربری</button>  
              </div>
              <div class="col-sm-9 col-xs-12">
              
                <div class="form-group col-md-6">
                    <label for="userName" >نام کاربری</label>
                    <p class="form-control-static" id="userName">{{user.username}}</p>
                    <label for="email">ایمیل</label>
                    <p class="form-control-static" id="email">{{user.email}}</p>
                    <br/>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastPass">رمز عبور قبلی</label>
                    <input type="password" class="form-control" id="lastPass" ng-model="user.previousPassword">
                    <label for="newPass">رمز عبور جدید</label>
                    <input type="password" class="form-control" id="newPass" ng-model="user.newPassword">
                    <div class="form-group" ng-class="passwordIsSame()?'':'has-error'">
                        <label for="re-newPass">تکرار رمز عبور جدید</label>
                        <input type="password" class="form-control " id="re-newPass" ng-model="rePass21.text">
                    </div>
               </div>
              </div>
          </div>
          <a class="collapse-header" data-toggle="collapse" href="#collapseEducation" aria-expanded="true" aria-controls="collapseEducation">
            <h4 class="page-header" style=" margin-top:0px">
                اطلاعات تحصیلی
                <span class="glyphicon glyphicon-menu-down pull-left" ></span>
            </h4>
          </a>
          <div class="collapse fluid-container" id="collapseEducation">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 col-xs-offset-0">
              
                <div class="form-group col-md-6">
                    <label for="uniName" >نام دانشگاه(دبیرستان)</label>
                    <input type="text" class="form-control" id="uniName" value="{{user.university}}" ng-model = "user.university">
                    <label for="studentNo">شماره دانشجویی</label>
                    <input type="text" class="form-control" id="studentNo" value="{{user.studentCode}}" ng-model = "user.studentCode">
                </div>
                <div class="form-group col-md-6">
                    <label for="eduLevel">مقطع تحصیلی</label>
                    <input type="text" class="form-control" id="eduLevel" value="{{user.studentLevel}}" ng-model = "user.studentLevel">
                    <label for="eduMajor">رشته تحصیلی</label>
                    <input type="text" class="form-control" id="eduMajor" value="{{user.major}}" ng-model = "user.major">
               </div>

              </div>
          </div>
          &nbsp
          <br/>
          &nbsp
          <br/>
          <div class="text-center">
              <button class="btn btn-primary" ng-disabled="!passwordIsSame()" ng-click = "edit_profile()">اعمال تغییرات</button>
          </div>
