<div ng-controller="team_modal as team">
    <div class=" container-fluid">
        <h3 class="page-header" style=" margin-top:0px">تیم&nbspها</h3>
        <div ng-if="is_registration_failed"
             class="alert alert-danger">{{message}}</div>
        <div class="panel panel-default col-md-12">
            <div class="panel-body">
                <span class="pull-left">
                    <button ng-click="create_team()" class="btn btn-primary" data-toggle="modal" data-target="#registerTeamModal">تیم جدید +</button>
                </span>
                <p>لطفا قبل از ثبت تیم جدید قوانین مسابقه را مطالعه نمایید.</p>
            </div>
        </div><!-- panel -->
        <table class="table col-md-12 table-hover">
            <thead>
            <tr>
                <th>نام تیم</th>
                <th>تاریخ ثبت</th>
                <th>اعضا</th>
                <!--<th>ویرایش</th>-->
                <th>حذف</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in data track by $index">
                <td>{{record.name}}</td>
                <td>{{record.registrationDate}}</td>
                <td>{{record.member_names}}</td>
                <!--<td><a data-toggle="modal" data-target="#registerTeamModal" ng-click="init_modal($index)" href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>-->
                <td ng-if="record.validated == 0"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="registerTeamModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-md-6 col-xs-12">
                            <h4>قوانین</h4>
                            <p>
                            <ul>
                                <li>قبل از اقدام به ثبت تیم حتما قوانین مسابقه ای که قصد شرکت در آن دارید را مطالعه فرمایید</li>
                                <li>در صورتی که تیم خود را برای مسابقه ای ثبت میکنید که نیاز به اطلاعات تحصیلی شما دارد، تمامی افراد ملزم هستند اطلاعات تحصیلی خود را در بخش اکانت کاربری خود تکمیل کنند</li>
                                <li>در صورتی که تعداد افراد تیم با محدودیت مسابقه مورد نظر همخوانی نداشته باشد تیم شما اجازه شرکت در آن مسابقعه را نخواهد داشت</li>
                                <li>در صورتی که نام تیم شما بر خلاف قوانین مسابقه و نامانساب باشد تیم شما حذف خواهد شد و تمام اطلاعات آن دست خواهد رفت </li>
                                <li>حداکثر 5 تیمی که در یک روز میتواند ثبت کنید</li>
                            </ul>
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label> اسم تیم</label>
                                <input type="text" class="form-control" value="{{selected_team.name}}"  ng-model="selected_team.name">
                            </div>
                            <p>
                                <label> سرگروه:</label>
                                {{selected_team.manager.name}}
                            </p>
                            <div class="form-group">
                                <div ng-repeat="team_member in selected_team.members track by $index">
                                    <label> ایمیل نفر
                                        {{sequence[$index]}}
                                    </label>
                                    <div  ng-if ="$index > 0">
                                        <input type="email" class="form-control "
                                               value="{{selected_team.members[$index].email}}"
                                               ng-model="selected_team.members[$index].email"
                                               ng-model-options='{ debounce: 1000 }'
                                               ng-change = "check_email_exist($index)">
                                        <p ng-class="selected_team.members[$index].is_valid==true?'text-success':'text-danger' " >
                                            {{selected_team.emails[$index].name}}</p></div>
                                    <p ng-if="$index == 0" class="form-control-static">{{selected_team.members[$index].email}}</p>
                                </div>
                                <div ng-if="selected_team.members.length < 5">
                                    <a ng-click="add_new_member()" href="#">اضافه کردن نفر جدید +</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <button ng-click = "team_register()" data-dismiss="modal" class="btn btn-primary"
                                        ng-disabled="!validate()">ثبت تیم</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>