<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>مدیریت لیگ ها سرخپوست ها</title>
        <!--این بعدا میشه اسم مسابقه
        فعلا برای قشنگی-->

        <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">
        <link href="../../css/fonts.css" rel="stylesheet">
        <link href="css/game.css" rel="stylesheet">
        <link href="../../css/sticky-footer.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="js/leagueMgr.js"></script>

    </head>
    <body ng-app="leagueMgr" ng-controller="league_controller" class="yekan-font repeated-bg ease-tr">
        <div class="container" style="margin-top: 20px">

            <div ng-if="message.text!=null"
                 ng-class="message.type=='error'?'alert alert-danger':'alert alert-success'"
                 style="text-align: center">{{message.text}}</div>
            </div>

        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" id="newListName" placeholder="name">
                        <button type="button" class="btn btn-primary">اضافه کردن</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-repeat="record in list track by $index">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <row>
                            <h4>{{record.name}}</h4>
                            <div>
                                <input class=text" placeholder = "اسم جدید" ng-model="record.newLeagueName">
                                <button type="button" class="btn btn-info" ng-click="changeLeagueName($index)">تغییر نام</button>
                            </div>
                            <button type="button" class="btn btn-warning">برنامه ریز بازی ها</button>
                            <button type="button" class="btn btn-danger" ng-click="leagueScheduler($index)">حذف لیگ</button>
                            <div>
                                <input class=text" placeholder = "اسم تیم" ng-model="record.newTeamName">
                                <button type="button" class="btn btn-success" ng-click="addNewTeamLeague($index)">اضافه کردن تیم</button>
                            </div>
                            <table class="table col-md-12 table-hover">
                                <thead>
                                <tr>
                                    <th>نام تیم</th>
                                    <th>حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="record2 in record.teams ">
                                    <td>{{record2.name}}</td>
                                    <td><a href="#" ng-click="removeTeamFromLeague(record.name,$index)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </row>
                    </div>
                </div>
            </div>
        </div><!-- end of container -->
        <footer class="footer"><div class="container">
                <div class="text-center" style="margin-top:5px" >کلیه حقوق این سایت محفوظ و متعلق به گروه هوش مصنوعی دانشگاه شهید بهشتی می باشد.</div>
        </div></footer>         
    </body>
</html>