<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:h2:tcp://localhost/~/aiccc
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.H2Dialect
        </property>
        <property name="hibernate.connection.username">
            sa
        </property>
        <property name="hibernate.connection.password">
            0x44315801
        </property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">5</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="ir.rendan.model.UserInfo"/>
        <mapping class="ir.rendan.model.Team"/>
        <mapping class="ir.rendan.model.TeamGame"/>
        <mapping class="ir.rendan.model.Code"/>
        <mapping class="ir.rendan.model.Game"/>
        <mapping class="ir.rendan.model.League"/>
        <mapping class="ir.rendan.model.Match"/>

        <!--<property name="show_sql">true</property>-->
        <!-- <property title="connection.username"/> -->
        <!-- <property title="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property title="hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>