<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>اسم مسابقه</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">


    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>

</head>
<body ng-app="login" ng-controller="login_controller as main" class="yekan-font">
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" style="margin-top: 250px" >
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6 col-xs-12 text-center">
                    <img src="elements/favlogo.png">
                    <br/>
                    <h3 class=" ohod-font" style="color: #303c42;margin-top:0px">چالش هوش مصنوعی </h3>
                    <p> این مسابقات در سال با هدف برای شروع به کار مرده و تا کنون نزدیک به شرکت ککنند رد این مسابقات شرکت کرده اند امید است که انشالله </p>
                    <a href="blog.html">
                        <button class="btn btn-default" style="border-color: #313d43;color: #313d43 ;width: 150px"> بلاگ</button>
                    </a>
                </div>
                <!--<form name='f' action='login.html' method='POST'>-->
                    <div class="col-sm-6 col-xs-12">
                        <br/>
                        <div class="form-group">
                            <label> ایمیل</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> رمز ورود</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div><button ng-click="login()" name="submit" type="submit" class="btn btn-primary form-control" value="submit"  >ورود</button></div>
                        <br/>
                    </div>
                <!--</form>-->
                <div class="text-center"><button name="modal" value="modal" class="btn btn-link" data-toggle=modal data-target="#registerModal">ثبت نام</button></div>

            </div>
        </div>
    </div>


    <div class="modal fade"  id="registerModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-md-6 col-xs-12">
                            <h4>قوانین</h4>
                            <p>
                            <ul>
                                <li>قانون ها را حسش نبود بینوسم مال همون تیمه</li>
                                <li>در صورتی که تیم خود را برای مسابقه ای ثبت میکنید که نیاز به اطلاعات تحصیلی شما دارد، تمامی افراد ملزم هستند اطلاعات تحصیلی خود را در        بخش اکانت کاربری خود تکمیل کنند</li>
                                <li>در صورتی که تعداد افراد تیم با محدو     دیت مسابقه مورد نظر همخوانی نداشته باشد تیم شما اجازه شرکت در آن مسابقعه را نخواهد داشت</li>
                                <li>در صورتی که نام تیم شما بر خلاف ق       وانین مسابقه و نامانساب باشد تیم شما حذف خواهد شد و تمام اطلاعات آن دست خواهد رفت </li>
                                <li>حداکثر 5 تیمی که در یک روز میتواند      ثبت کنید</li>
                            </ul>
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <br/>
                            <div class="form-group">
                                <label> نام</label>
                                <input type="text" class="form-control" ng-model="credentials.username">
                            </div>
                            <div class="form-group">
                                <label> ایمیل</label>
                                <input type="email" class="form-control" ng-model="credentials.email_address">
                            </div>
                            <div class="form-group">
                                <label> رمز ورود</label>
                                <input type="password" class="form-control" ng-model="credentials.password">
                            </div>
                            <div class="form-group">
                                <label> تکرار رمز ورود</label>
                                <input type="password" class="form-control" ng-model="re_password">
                            </div>

                            <button ng-click="register()" class="btn btn-primary form-control" data-dismiss="modal" >ثبت نام</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

</body>
</html>