                <div class="col-md-5">
                    <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th class="text-left">تیم 1</th>
                        <th class="text-center">نتیجه</th>
                        <th class="text-right">تیم 2</th>
                        <th class="text-center">نقشه</th>
                        <th class="text-center">زمان</th>
                        <th class="text-center">مشاهده</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left">چموش ها</td>
                        <td class="text-center">13-91</td>
                        <td class="text-right">هوش مصنوعی</td>
                        <td class="text-center">جزیره</td>
                        <td class="text-center">1394/2/1 14:30</span></a></td>
                        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>
                    <tr>
                        <td class="text-left">چموش ها</td>
                        <td class="text-center">35-64</td>
                        <td class="text-right">هوش مصنوعی</td>
                        <td class="text-center">دنیا</td>
                        <td class="text-center">1394/2/1 14:30</span></a></td>
                        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>
                    <tr>
                        <td class="text-left">چموش ها</td>
                        <td class="text-center">20-12</td>
                        <td class="text-right">هوش مصنوعی</td>
                        <td class="text-center">یک تکه</td>
                        <td class="text-center">1394/2/1 14:30</span></a></td>
                        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>    
                    <tr>
                        <td class="text-left">چموش ها</td>
                        <td class="text-center">17-25</td>
                        <td class="text-right">هوش مصنوعی</td>
                        <td class="text-center">جزیره 2</td>
                        <td class="text-center">1394/2/1 14:30</span></a></td>
                        <td class="text-center"><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>
                    </tbody>    
                    </table>
                </div>
                <div class="col-md-7">
                    <img src="elements/game-player.png" style="width:100% ;height:auto;  ">
                </div>
