                <div class="col-sm-3 col-xs-12">
                    <img src="elements/Game_logo.png" style="width:100%; height:auto;">
                    <br/>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <h4 class="page-header" style="margin-top:0px">مسابقه شماره 1</h4>
                    <p>
                        مدتی پیش محموله ای از سوی مریخ نورد "کنجکاوی2" به ایستگاه فضایی بین الملی ارسال شد. محموله ای که برچسب "حیاتی" را با خود یدک می کشید.فردای روزی که این محموله بدست دانشمندان ایستگاه فضایی رسید، پیامی به زمین ارسال شد.<br/>
                        این پیام حاوی اطلاعاتی بود که تاریخ بشر را تغییر میداد: "ماده حیات پیدا شد."<br/>
                        ماده حیات نامی بود که دانشمندان ایستگاه فضایی برای محموله‌ای که از سوی مریخ نورد کنجکاوی ارسال شده بود انتخاب کردند، زیرا این محموله حامل ماده ای بود که قدرت جذب بسیار بالای ملوکول های آب را در خود داشت، بدین صورت که اگر آن را در چاهی از فاضلاب میریختید بعد از مدت اندکی در انتهای چاه آب خالص داشتید و تمام مولکول های آب از گندآب ها جدا شده و به آن ماده نزدیک می‌شدند.<br/>
                        این اکتشاف در میان دانشمندان فضایی پنهان ماند تا کار تحقیق و توسعه و ساخت ابزاری برای انتقال این ماده به زمین در سکوت خبری انجام گیرد اما زمانی که کار ساخت ربات مریخ نورد "انتقال" تقریبا رو به اتمام بود، اخبار این اکتشاف به بیرون درز کرد و دولتمردانِ کشورهای صاحب امتیاز در ایستگاه فضایی بین المللی با فشار به سازمان های فضایی کشورشان قصد خود را در به انحصار در آوردن این اکتشاف اعمال کردند و از آنها خواستند تا به صورت جداگانه مریخ نورد های انحصاری خود را به مریخ ارسال کنند که با توجه به هزینه بالای طراحی و ارسال این مریخ نوردان به سطح مریخ با مخالفت شدید سازمان های فضایی روبه رو شدند.<br/>
                        اما اکنون و بعد از پایان یافتن مذاکرات و گفتگوهای دولت ها وسازمان های فضایی تفاهم نامه ی جدید در عرصه فعالیت های فضایی شکل گرفته است، تفاهم نامه ای که دمی است در شیپور جنگ جهانی سوم، اما این بار بدون خون‌ریزی و درگیری فیزیکی انسان ها در سطح زمین بلکه<br/>
                        "نبرد مغز ها در سیاره سرخ!"<br/>
                        تفاهم نامه از این قرار است که:<br/>
                        کشورها ربات های مریخ نوردی که از نظر سخت افزاری کاملا یکسان هستند را به سطح مریخ ارسال می کنند و به روز رسانی های سخت افزاری و ادوات کمکی را در قالب کپسول هایی به سطح مریخ پرتاب می کنند و تا زمانی که این ماشین های آهنین مسیر خود تا مریخ را طی می کنند به توسعه قسمت باقی مانده از آنها می‌پردازند یعنی "هوش مصنوعی" مریخ نوردها.<br/>
                        این متن دعوت نامه ای است از تمامی برنامه نویسان، فعالین و دانشجو های مشتاق به توسعه هوش مصنوعی این مریخ نورد ها تا برنامه ای توسعه بدهند که در زمان مشخص بیشترین مقدار ماده حیات را جمع آوری کند.<br/>
                        اطصلاغات تکمیلی را از فایل زیر دریافت کنید
                        <br/>
                        <br/>
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary">دانلود مستندات</button>
                    </div>
                </div>
