                    <div class="col-md-6 col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading"> جدول مسابقات</div>
                            <table class="table table-hover ">
                                <tr>
                                    <th>رتبه</th>
                                    <th>تیم</th>
                                    <th>برد</th>
                                    <th>امتیاز</th>
                                </tr>
                                <tr ng-repeat="record in data.ranking">
                                    <td>{{record.rank}}</td>
                                    <td>{{record.team}}</td>
                                    <td>{{record.winning_count}}</td>
                                    <td>{{record.score}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading"> برنامه مسابقات</div>
                            <table class="table table-striped ">
                                    <tr>
                                        <th style=" text-align: center; ">مسابقه</th>
                                        <th>روز</th>
                                        <th>ساعت</th>
                                    </tr>
                                    <tr ng-repeat="record in data.sch">
                                        <td style=" text-align: center"> {{record.challengers}} </td>
                                        <td>{{record.date}}</td>
                                        <td>{{record.time}}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
