                    <div class="col-md-6 col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading"> جدول مسابقات</div>
                            <table class="table table-hover ">
                                <tr>
                                    <th>رتبه</th>
                                    <th>تیم</th>
                                    <th>برد</th>
                                    <th>امتیاز</th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>chamoosh ha</td>
                                    <td>3</td>
                                    <td>143</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>chamoosh ha</td>
                                    <td>3</td>
                                    <td>143</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>chamoosh ha</td>
                                    <td>3</td>
                                    <td>143</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>chamoosh ha</td>
                                    <td>3</td>
                                    <td>143</td>
                                </tr>


                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading"> برنامه مسابقات</div>
                            <table class="table table-striped ">
                                    <tr>
                                        <th style=" text-align: center; ">مسابقه</th>
                                        <th>روز</th>
                                        <th>ساعت</th>
                                    </tr>
                                    <tr>
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>   
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>   
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>   
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>   
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>   
                                        <td style=" text-align: center"> chamoosh ha - هوش مصنوعی </td>
                                        <td>پنجشنبه (2/17)</td>
                                        <td>16:00</td>  
                                    </tr>
                            </table>
                        </div>
                    </div>
