                <div class="col-sm-6 col-xs-12">
                    <h3 class="page header" style="margin-top: 0px">ارسال پرسش</h3>
                    <form>
                        <textarea class="form-control" rows="5" ng-model="$parent.qMessage">  </textarea>
                        <br/>
                        <button type="submit" class="btn btn-primary pull-left" ng-click="submitComment()">ارسال</button>
                    </form>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3 class="page-header" style="margin-top:0px">پرسش ها</h3>
                    <div ng-repeat="record in data" class="panel panel-default">
                        <div class="panel-body" style="margin-top:  -15px;margin-bottom: -15px" >
                            <h6 style="color: #00594c">{{record.username}} :</h6>
                            <p>{{record.body}}</p>
                            <h6 style="color: #00594c"> پاسخ :</h6>
                            <p>{{record.ans? record.ans : "در حال بررسی..."}}</p>
                        </div>
                    </div>

                </div>

        