                <div class="col-md-5">
                    <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th class="text-left">تیم 1</th>
                        <th class="text-center">نتیجه</th>
                        <th class="text-right">تیم 2</th>
                        <th class="text-center">نقشه</th>
                        <th class="text-center">زمان</th>
                        <th class="text-center">مشاهده</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="record in data">
                        <td class="text-left">{{record.team1}}</td>
                        <td class="text-center">{{record.result}}</td>
                        <td class="text-right">{{record.team2}}</td>
                        <td class="text-center">{{record.map}}</td>
                        <td class="text-center">{{record.time}}</span></a></td>
                        <td class="text-center"><a href="{{record.observation_link}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>
                    </tbody>    
                    </table>
                </div>
                <div class="col-md-7">
                    <img src="elements/game-player.png" style="width:100% ;height:auto;  ">
                </div>
