                <div class="col-sm-3 col-xs-12">
                    <img src="{{game.logo}}" style="width:100%; height:auto;">
                    <br/>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <h4 class="page-header" style="margin-top:0px">{{game.name}}</h4>
                        <div ng-include="game.body"></div>
                    <div class="text-center">
                        <button class="btn btn-primary">دانلود مستندات</button>
                    </div>
                </div>
