.dark-gray{
    background-color:#303c42 !important;
    color:  #eeeeee !important  ;
}

.main-announcment{
    border-radius: 0px;
}

.ma-footer{
	background-color: #008e77;
	max-height: 30px;
	border-radius: 0px;
	padding-top: 5px;
	color: white;
	text-decoration: none;
}

.ma-footer a,.ma-footer a:hover,.ma-footer a:active,.ma-footer a:visited,.ma-footer a:focus {
    text-decoration:none;
	color: white;
}

.ma-footer a:hover{
	color: #dddddd
}

a.collapse-header{
	text-decoration: none;
}

.profile-pic-place{
	margin-right: 30px;
	margin-left: 30px;
}
