.dark-gray{
    background-color:#303c42 !important;
    color:  #eeeeee !important  ;
}

.main-announcment{
}

.ma-footer{
	max-height: 30px;
	padding-top: 5px;
	color: #008e77;
	text-decoration: none;
}

.ma-footer a,.ma-footer a:hover,.ma-footer a:active,.ma-footer a:visited,.ma-footer a:focus {
    text-decoration:none;
	color: #008e77;
}

.ma-footer a:hover{
	color: #00594c
}

a.collapse-header{
	text-decoration: none;
}

.profile-pic-place{
	margin-right: 30px;
	margin-left: 30px;
}

.modal{
	margin-top: 100px
}