body {
	background-color: #313d43;
	background-image: url("../elements/login-bg.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover ;
}

.modal{
	margin-top: 100px
}