<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>چالش هوش مصنوعی دانشگاه شهید بهشتی</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">


    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/style_changer.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body ng-app="app" ng-controller="main_controller" class="yekan-font" >
    <nav class="hidden-xs navbar navbar-default ">
      <div class="container "  >
        <div class="navbar-header">
          <img  width="auto" height="100%" alt="logo" src="elements/favlogo.png">
        </div>
        <div class="navbar-header">
          <a class="navbar-brand ohod-font" href="#" style="padding-top: 40px"><h1 style="color: #303c42">چالش هوش مصنوعی </h1></span> </a>
        </div>

        <div class="collapse navbar-collapse" id="">
          <ul class="nav navbar-nav navbar-left ">
            <li style="margin-top: 25px;"><a href="#"><span class="glyphicon glyphicon-user"></span> ثبت نام</a></li>
            <li style="margin-top: 25px;"><a href="#"><span class="glyphicon glyphicon-log-in"></span> ورود</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <nav class="hidden-lg hidden-sm hidden-md navbar navbar-inverse " style="min-height: 50px" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand " href="#">  چالش هوش مصنوعی </a>
          <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#index-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>

        <div class="collapse navbar-collapse" id="index-navbar">
          <ul class="nav navbar-nav">
            <li ng-click="games()" id="cmpt-list-selector-nav"><a href="#">لیست مسابقات</a></li>
            <li ng-click="records()" id="records-selector-nav"><a href="#">رکورد ها و نتیاج</a></li>
            <li ng-click="teams()" id="user-teams-nav"><a href="#">تیم ها</a></li>
            <li ng-click="announcements()" id="main-announcment-nav"><a href="#">اطلاعیه ها</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> ثبت نام</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> ورود</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 hidden-xs">
          <div class="sidebar">
            &nbsp
            <div class="profile-pic-place">
              <img src="elements/default_profile_picture.png" alt="profile-pic" id="profile-picture" class="profile-picture img-circle">
            </div>
            <div class="container-fluid">
                <a href="#" id="user-name"><div class="text-center">صالح جعفریزاده</div></a>
                <div class="text-center" id="user-score"> امتیاز: 5</div>
            </div>
            <br/>
            <ul>
              <li ng-click="games()" id="cmpt-list-selector-sidebar"><a href="#">لیست مسابقات</a></li>
              <li ng-click="records()" id="records-selector-sidebar"><a href="#">رکورد ها و نتایج </a></li>
              <li ng-click="teams()" id="user-teams-sidebar"><a href="#">تیم ها</a></li>
              <li ng-click="announcements()" id="main-announcment-sidebar"><a href="#">اطلاعیه ها</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-12 main" >
          <div ng-if="show == 'game'" class=" container-fluid">
            <h3 class="page-header" style=" margin-top:0px"  > لیست مسابقلات</h3>

            <div ng-repeat="record in data" class="col-md-6 col-sm-12" id="game-intoducer">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-6 col-xs-6">
                    <h4 class=" page-header" style=" margin-top:0px; margin-right:-10px;"><span id="compt-name">مسابقه 1</span></h4>
                    <span id="other-info">
        برگزار کننده: {{record.conductor}}<br/>
        تیمی: {{record.max_members}}<br/>
        زمان:{{record.time}}<br/>
        مکان: {{record.place}}<br/>
        هزینه: {{record.price}}
      </span>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <!--fix it: the image address should be taken as a field of record variable-->
                    <img src="elements/Game_Logo.png" class="img-rounded" style=" max-width:  100% ; max-height:  auto"  >
                  </div>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-primary">شرکت در مسابقه</button>
                  <button class="btn btn-link">صورت سوال</button>
                </div>
              </div> <!-- panel -->
            </div>

          </div><!-- main content -->
          <div ng-if="show == 'record'" class=" container-fluid">
           <h3 class="page-header" style=" margin-top:0px"  > نتایج</h3>
           <div class="alert alert-info">اینجا شاید بعدش جستجو بر ساسا تاریخ و اسم مسابقه گذاشتیم :)</div>
           <div class="table-responsive">
             <table class="table table-striped">
               <!-- این جدول فعلا انجوریه بعدش باید محتویاتش با آنگولار داینامیک با شمارنده پایین صفحه عوض شه-->
               <thead>
               <tr>
                 <th>چالش هوش بهشتی</th>
                 <th>تاریح برگزاری</th>
                 <th>تیم</th>
                 <th>امتیاز</th>
                 <th>رتبه</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat = "record in data">
                 <td>{{ record.challenge_name }}</td>
                 <td>{{ record.date }}</td>
                 <td>{{ record.team }}</td>
                 <td>{{ record.score }}</td>
                 <td>{{ record.rating }}</td>
               </tr>
               </tbody>
             </table>
           </div>
           <div class="alert alert-info">این پیجینیشنم هم وقتیه تعداد کمه نباس باشه مثل الان :)</div>
		</div><!-- main content -->
          <div ng-if="show == 'team'" class=" container-fluid">
            <h3 class="page-header" style=" margin-top:0px">تیم&nbspها</h3>
            <div class="panel panel-default col-md-12">
              <div class="panel-body">
                <span class="pull-left"><button class="btn btn-primary">تیم جدید +</button></span>
                <p>لطفا قبل از ثبت تیم جدید <a href="#">شرایط ثبت تیم</a> را مطالعه نمایید.</p>
              </div>
            </div><!-- panel -->
            <table class="table col-md-12 table-hover">
              <thead>
              <tr>
                <th>نام تیم</th>
                <th>تاریخ ثبت</th>
                <th>اعضا</th>
                <th>ویرایش</th>
                <th>حذف</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="record in data">
                <td>{{record.name}}</td>
                <td>{{record.registration_time}}</td>
                <td>{{record.members}}</td>
                <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
              </tbody>
            </table>
          </div><!-- main content -->

          <div ng-if="data.length > 0" class="text-center">
            <ul class="pagination pagination-sm">
              <li class="page-info"><span>صفحه {{current_page}} از {{page_count}}</span></li>
              <li class="previous disabled"><a>→</a></li>
              <!--<li ng-repeat="i in getNumberOfPages()" class="active"><a href="?page=1">1</a></li>-->

              <li class="next"><a href="?page=2">←</a></li>
            </ul>
          </div>

        </div>
      </div> <!-- row -->
    </div><!-- container-->
    <footer class="footer dark-gray" ><div class="container">
                <div class="text-center" style="margin-top:5px" >کلیه حقوق این مسابقه آزاد است.</div>
    </div></footer>
  </body>
</html>
