<div ng-if="show == 'game'" class=" container-fluid">
    <h3 class="page-header" style=" margin-top:0px"  > لیست مسابقلات</h3>

    <div ng-repeat="record in data" class="col-md-6 col-sm-12" id="game-intoducer">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6 col-xs-6">
                    <h4 class=" page-header" style=" margin-top:0px; margin-right:-10px;"><span id="compt-name">مسابقه 1</span></h4>
                    <span id="other-info">
        برگزار کننده: {{record.conductor}}<br/>
        تیمی: {{record.max_members}}<br/>
        زمان:{{record.time}}<br/>
        مکان: {{record.place}}<br/>
        هزینه: {{record.price}}
      </span>
                </div>
                <div class="col-md-6 col-xs-6">
                    <!--fix it: the image address should be taken as a field of record variable-->
                    <img src="elements/Game_Logo.png" class="img-rounded" style=" max-width:  100% ; max-height:  auto"  >
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">شرکت در مسابقه</button>
                <button class="btn btn-link">صورت سوال</button>
            </div>
        </div> <!-- panel -->
    </div>

</div>