<div class=" container-fluid">
    <h3 class="page-header" style=" margin-top:0px"  > لیست مسابقلات</h3>

    <div ng-repeat="record in data" class="col-md-6 col-sm-12" id="game-intoducer">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6 col-xs-6">
                    <img src="{{record.logo_address}}" class="img-rounded" style=" max-width:  100% ; max-height:  auto"  >
                </div>
                <div class="col-md-6 col-xs-6">
                    <h4 class=" page-header" style=" margin-top:0px; margin-right:-10px;"><span id="compt-name">{{record.name}}</span></h4>
                    <span id="other-info">
                    برگزار کننده: {{record.conductor}}<br/>
                    تیمی: {{record.max_members}}<br/>
                    زمان:{{record.time}}<br/>
                    مکان: {{record.place}}<br/>
                    هزینه: {{record.price}}
                    </span>
                </div>
            </div>
            <div class="panel-footer text-left">
                <button class="btn btn-link">صورت سوال</button>
                <button class="btn btn-primary">شرکت در مسابقه</button>
            </div>
        </div> <!-- panel -->
    </div>

</div>