<div class="panel panel-default main-announcment">
            <div class="panel-body fluid-container">
            اینجا متن اطلاعیه قرا میگیرد که خودشم میتونه html باشه حتی
            </div>
            <div class="panel-footer ma-footer">
              <span> 1358/1/12 توسط ملت غیور حاضر در صحنه</span>
                <span class="pull-left">
                  <a href="#"><span class="glyphicon glyphicon-thumbs-up" style="padding-top: -15px"></span> 12</a>
                  <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span> 1</a>
              </span>
            </div>
          </div>            